<div class="container">
    <h2>Workout List</h2>
    
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name" />
  
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Workout Type</th>
          <th>Minutes</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workout of filteredWorkouts">
          <td>{{ workout.UserName }}</td>
          <td>{{ workout.workoutType }}</td>
          <td>{{ workout.workoutMinutes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  