<div>
    <h2 class="text-xl font-bold mb-4">Add Workout</h2>
  

    <label class="block mb-1 font-medium">Enter User Name:</label>
    <input type="text" [(ngModel)]="UserName" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Enter user name"/>

  
    <!-- Select Workout Type -->
    <label class="block mt-4 mb-1 font-medium">Workout Type:</label>
    <select [(ngModel)]="selectedWorkoutType" class="w-full p-2 border border-gray-300 rounded-md">
      <option value="" disabled>Select workout type</option>
      <option value="Running">Running</option>
      <option value="Cycling">Cycling</option>
      <option value="Swimming">Swimming</option>
      <option value="Yoga">Yoga</option>
    </select>
  
    <!-- Enter Minutes -->
    <label class="block mt-4 mb-1 font-medium">Minutes:</label>
    <input type="number" [(ngModel)]="workoutMinutes" class="w-full p-2 border border-gray-300 rounded-md" />
  
    <!-- Add Workout Button -->
    <button
      class="mt-4 w-full bg-blue-500 text-white py-2 rounded-md"
      (click)="addWorkout()"
    >
      Add Workout
    </button>
  </div>
  