<div class="container">
    <h2>Add Workout</h2>
    <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="userName">UserName</label>
            <input type="text" 
                   class="form-control" 
                   id="userName" 
                   formControlName="userName">
        </div>

        <div class="form-group">
            <label for="workoutType">Workout Type:</label>
            <select class="form-control"
                    id="workoutType"
                    formControlName="workoutType">
                <option value="Running">Running</option>
                <option value="Cycling">Cycling</option>
                <option value="Yoga">Yoga</option>
                <option value="Strength Training">Strength Training</option>
            </select>
        </div>

        <div class="form-group">
            <label for="workoutMinutes">Workout Minutes:</label>
            <input type="number" 
                   class="form-control"
                   id="workoutMinutes" 
                   formControlName="workoutMinutes">
        </div>

        <button type="submit" [disabled]="!workoutForm.valid">Add Workout</button>
    </form>
</div>